<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <link rel="stylesheet" href="/css/edit.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/tasks">My List</a></li>
            <li><a href="/tasks/new">New Task</a></li>
        </ul>
    </nav>
    <h1>My To Do List</h1>
    <ul class="task-list">
        <% tasks.forEach(task => { %>
            <li class="task">
                <div class="task-content">
                    <input type="checkbox" id="task<%= task.id %>" name="completedTasks" value="<%= task.id %>" <% if (task.completed) { %> checked <% } %>>
                    <label for="task<%= task.id %>"><%= task.title %> - <%= task.description %></label>
                </div>
                <div class="task-actions">
                    <a href="/tasks/edit/<%= task.id %>" class="edit-button">Edit</a>
                    <form action="/tasks/<%= task.id %>" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="delete-button" onclick="return confirm('Are you sure you want to delete this task?')">Delete</button>
                    </form>
                </div>
            </li>
        <% }); %>
    </ul>
</body>
</html>
